<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title></title>
</head>
<body>
<section layout:fragment="content">
    <div class="container py-3">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-content-center">
                <h2 class="display-4">Customers</h2>
            </div>
            <div class="d-flex align-content-center">
                <form th:action="@{/customers/search/}" class="form-inline my-2 my-md-0">
                    <div class="input-group">
                        <input type="text" minlength="3" class="form-control" placeholder="Customer Search"
                               aria-label="search"
                               th:name="term">
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-primary" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container py-3">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-content-center">
                </div>
                <div th:replace="fragments/pagination :: pagination('/customers/page/')"></div>
            </div>
        </div>
        <div class="container py-3">
            <table class="table">
                <tr>
                    <th>
                        <a th:href="@{'/customers/sort?p=' + ${paginationData.getPageNumber()} + '&sortColumn=Id&sortDirection=' + ${sortData.reverseSortDirection()}}">#</a>
                    </th>
                    <th>
                        <a th:href="@{'/customers/sort?p=' + ${paginationData.getPageNumber()} + '&sortColumn=FirstName&sortDirection=' + ${sortData.reverseSortDirection()}}">First Name</a>
                    <th>
                    <a th:href="@{'/customers/sort?p=' + ${paginationData.getPageNumber()} + '&sortColumn=LastName&sortDirection=' + ${sortData.reverseSortDirection()}}">Last Name</a>
                    <th>
                    <a th:href="@{'/customers/sort?p=' + ${paginationData.getPageNumber()} + '&sortColumn=Email&sortDirection=' + ${sortData.reverseSortDirection()}}">Email</a>
                </th>
                    <th>
                        <a th:href="@{'/customers/sort?p=' + ${paginationData.getPageNumber()} + '&sortColumn=Birthday&sortDirection=' + ${sortData.reverseSortDirection()}}">Birthdate</a>
                    </th>
                    <th></th>
                </tr>
                <tr th:each="customer : ${customerList}">
                    <td th:text="${customer.id}"></td>
                    <td th:text="${customer.getCustomerName().getFirstName()}"></td>
                    <td th:text="${customer.getCustomerName().getLastName()}"></td>
                    <td th:text="${customer.email.email}">john@email.com</td>
                    <td th:text="${customer.birthday}">09-03-1987</td>
                    <td><a th:href="'/customers/info/' + ${customer.id}" class="btn btn-outline"><i
                            class="bi bi-search"></i></a>
                </tr>
            </table>
            <div th:replace="fragments/pagination :: paginationInfo"></div>
        </div>
    </div>
</section>