<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

<div layout:fragment="page-content">
    <div class="container">
        <div th:if="${customerList.isEmpty()}">Create a new customer to get started</div>
        <hr>
        <div th:unless="${customerList.isEmpty()}">
            <table class="table">
                <tr>
                    <!--    todo: column sorting    -->
                    <th>
                        <a th:href="@{'/customers/page/' + ${currentPageNumber} + '?sortColumn=id&sortDirection=' + ${reverseSortDirection}}">#</a>
                    </th>
                    <th>
                        <a th:href="@{'/customers/page/' + ${currentPageNumber} + '?sortColumn=firstName&sortDirection=' + ${reverseSortDirection}}">First
                            Name</a></th>
                    <th>
                        <a th:href="@{'/customers/page/' + ${currentPageNumber} + '?sortColumn=lastName&sortDirection=' + ${reverseSortDirection}}">Last
                            Name</a></th>
                    <th>
                        <a th:href="@{'/customers/page/' + ${currentPageNumber} + '?sortColumn=email&sortDirection=' + ${reverseSortDirection}}">Email</a>
                    </th>
                    <th>
                        <a th:href="@{'/customers/page/' + ${currentPageNumber} + '?sortColumn=birthday&sortDirection=' + ${reverseSortDirection}}">Birthday</a>
                    </th>
                    <th></th>
                </tr>
                <tr th:each="customer : ${customerList}">
                    <td th:text="${customer.id}"></td>
                    <td th:text="${customer.getCustomerName().getFirstName()}"></td>
                    <td th:text="${customer.getCustomerName().getLastName()}"></td>
                    <td th:text="${customer.email.email}">john@email.com</td>
                    <td th:text="${customer.birthday}">09-03-1987</td>
                    <td><a th:href="'/customers/' + ${customer.id}" class="btn btn-sm btn-outline-secondary">Edit</a>
                    </td>
                </tr>
            </table>
        </div>
        <a th:href="@{'/customers/page/' + ${currentPageNumber - 1} + '?sortColumn=' + ${sortColumn} + '&sortDirection=' + ${sortDirection}}"
           class="btn btn-primary" th:classappend="${currentPageNumber == 1 ? 'disabled' : ''}"> << </a>
        <a th:href="@{'/customers/page/' + ${currentPageNumber + 1} + '?sortColumn=' + ${sortColumn} + '&sortDirection=' + ${sortDirection}}"
           class="btn btn-primary" th:classappend="${currentPageNumber == 100 ? 'disabled' : ''}"> >> </a>
    </div>
</div>