<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="pagination(linkURL)" class="d-flex btn-group align-content-center">
    <a th:href="@{${linkURL} + '/1'}"
       class="btn btn-outline-primary"
       th:classappend="${paginationData.getIsFirstPage() ? 'disabled' : ''}"><i class="bi bi-skip-backward"></i></a>
    <a th:href="@{${linkURL} + ${paginationData.getPreviousPage()}}"
       class="btn btn-outline-primary"
       th:classappend="${paginationData.getIsFirstPage() ? 'disabled' : ''}"><i class="bi bi-arrow-left"></i></a>
    <a th:href="@{${linkURL} + ${paginationData.getNextPage()}}"
       class="btn btn-outline-primary"
       th:classappend="${paginationData.getIsLastPage() ? 'disabled' : ''}"><i class="bi bi-arrow-right"></i></a>
    <a th:href="@{${linkURL} + ${paginationData.getTotalPages()}}"
       class="btn btn-outline-primary"
       th:classappend="${paginationData.getIsLastPage() ? 'disabled' : ''}"><i class="bi bi-skip-forward"></i></a>
</div>

<div th:fragment="paginationInfo" class="py-3">
    <p>Showing results <b th:text="${paginationData.getFromPosition() + 1}"></b> to <b
            th:text="${paginationData.getToPosition()}"></b> of <b
            th:text="${paginationData.getTotalItems()}"></b> results</p>
</div>